!.*
src/.lock/app.lock
.DS_Store
public/assets/
app/
*.xlsx
**/credentials.json
.clinerules
.composer
.kilocode/
data/
html/
eda/letsencrypt
eda/certbot
.installer/lkui/certbot/logs/
.installer/lkui/letsencrypt/logs/
