<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    colors="true"
    processIsolation="false"
    bootstrap="test/bootstrap.php"
    timeoutForSmallTests="3"
    timeoutForMediumTests="10"
    timeoutForLargeTests="15"
    cacheDirectory=".phpunit.cache"
    >
    <testsuites>
        <testsuite name="First Tests">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <report>
            <html outputDirectory="coverage"/>
        </report>
    </coverage>

    <source>
        <include>
            <directory suffix=".php">./src/</directory>
        </include>
    </source>
</phpunit>